body {
	background-image: url("WebBackground.jpg");
	background-repeat: no-repeat;
	color:#050B2B;
	font-family: gill sans;

}

img{
	width: 8%;
	margin-left: 1.5%;
	margin-top: 1%;
}

#name{
	font-family: mistral;
	font-size: 64px;
	color: #EDEBEA;
	margin: 370px 0px 15px 830px;
}

#design{
	font-size: 32px;
	/* font-weight: bold; */
	margin: 0px 0px 15px 435px;
}

#photo{
	font-size: 24px;
	margin-left: 320px;
	margin-top: 5px;
	margin-bottom: 15px;
}

#paint{
	font-size: 20px;
	/* font-weight: lighter; */
	margin-left: 500px;
	margin-top: 0px;
}

